In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("csv/bigmartsales.csv")

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
df[['Item_MRP','Item_Outlet_Sales']].mean()

Item_MRP              140.992782
Item_Outlet_Sales    2181.288914
dtype: float64

In [7]:
df[['Item_MRP','Item_Outlet_Sales']].median()

Item_MRP              143.0128
Item_Outlet_Sales    1794.3310
dtype: float64

here we can see Item_MRP have mean and median equal so normally distributed
but for Item_Oulet_Sales mean is greate than median so data is right skewed

In [8]:
df[['Item_MRP','Item_Outlet_Sales']].mode()

   Item_MRP  Item_Outlet_Sales
0  172.0422            958.752

In [9]:
df[['Item_MRP','Item_Outlet_Sales']].std()

Item_MRP               62.275067
Item_Outlet_Sales    1706.499616
dtype: float64

In [10]:
round(df[['Item_MRP','Item_Outlet_Sales']].var(),2)

Item_MRP                3878.18
Item_Outlet_Sales    2912140.94
dtype: float64

In [11]:
from scipy.stats import iqr
iqr(df[['Item_MRP','Item_Outlet_Sales']],axis=0)

array([  91.8172, 2267.049 ])

In [12]:
from scipy.stats import skew,kurtosis

In [13]:
kurtosis(df['Item_Outlet_Sales'],fisher=False)

4.614224991590342

In [14]:
kurtosis(df['Item_Outlet_Sales'],fisher=True)

1.6142249915903424

In [15]:
skew(df['Item_Outlet_Sales'])

1.1773233539676373

# Z-Score

In [17]:
from scipy.stats import zscore

In [18]:
z = np.abs(zscore(df[['Item_MRP','Item_Outlet_Sales']]))

In [19]:
z

      Item_MRP  Item_Outlet_Sales
0     1.747454           0.910601
1     1.489023           1.018440
2     0.010040           0.049238
3     0.660050           0.849103
4     1.399220           0.695373
...        ...                ...
8518  1.180783           0.349915
8519  0.527301           0.956402
8520  0.897208           0.579100
8521  0.607977           0.196725
8522  1.052261           0.829594

[8523 rows x 2 columns]